@mixin flexbox($display, $justify, $align) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

@mixin for-tablet {
    @media screen and (max-width:950px) {
        @content;
    }
}

@mixin for-mobile {
    @media screen and (max-width:680px) {
        @content;
    }
}