$body-color: #EDF3F8;
$main-color: #1B262F;
$secondary-color-1: #36536B;
$secondary-color-2: #6C8294;
$secondary-color-3: #FBFCFE;
$secondary-color-4: #DA6D97;
$heading-font: 'DM Serif Display';
$text-font: 'Public Sans';